.about-us{
    text-align: center;
    background-color: beige;
    color: rgb(102, 155, 137);
    height: 92.5vh;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
}
.about-page {
        display: flex;
        align-items: center;
        flex-direction: column;
}
.spaning{
    padding: 1rem;
}