.home-page{
    text-align: center;
    background-color: beige;
    color: rgb(102, 155, 137);
    height: 92.5vh;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
}
.spaning{
    padding: 1rem;
}
.home-img {
    max-height: 600px;
}