@import url('./books-list.css');
@import url('./books-details.css');
@import url('./books-edit.css');
@import url('./books-filter.css');
@import url('./app-header.css');
@import url('./about-us.css');
@import url('./home-page.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}